#head{
    height: 60px;
    width: 100%;
    margin-top: 30px;
}
  a{
    margin-left: 130px;
    font-size: 20px;
    font-weight: lighter;
}
#head #ithink{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(39, 108, 198);
}
#main{
    height: 550px;
    width: 1280px;
    margin-left: 70px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.main_large{
    height: 400px;
    width: 650px;
    margin-top: 75px;
    margin-left: 50px;
}
.main_small{
    height: 400px;
    width: 400px;
    margin-top: 75px;
    margin-right: 50px;
    border-radius: 50%;
    background-image: url("Nancy.jpeg");
    background-size: cover;
}
.intro{
    font-size: 20px;
    font-style: normal;
}
#hello{
    margin-top: 80px;
    font-size: 25px;
}
p{
    font-style: oblique;
}
.main_large button{
    height: 40px;
    width: 120px;
    margin-top: 15px;
    margin-right: 10px;
    background-color:  rgb(39, 108, 198);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
}
.main_large a{
    margin-left: 25px;
}
.main_large i{
    margin-top: 20px;
    font-size: 25px;
    color: black;
}
#skill_head{
    margin-top: 120px;
    margin-left: 670px;
}
.skills{
    height: 550px;
    width: 1280px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}
.skill_div{
    height: 150px;
    width: 320px;
    margin-left: 75px;
    margin-top: 15px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}
.skill_div i{
    color: rgb(39, 108, 198);;
    font-size: 40px;
}
#proj_head{
    margin-left: 560px;
    margin-top: 100px;
}
.proj{
    height: 850px;
    width: 1280px;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
}
.proj_div{
    height: 350px;
    width: 550px;
}
#proj_div1{
    margin-left: 55px;
    background-image: url("project1.webp");
    background-size: cover;
}
#proj_div2{
    margin-left: 55px;
    background-image: url("project2.webp");
    background-size: cover;
}
#proj_div3{
    margin-left: 370px;
    background-image: url("certificate.png");
    background-size: cover;
}
#connect_head{
    margin-left: 590px;
    margin-top: 100px;
}
.connect{
    height: 400px;
    widows: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}
.connect_div{
    height: 150px;
    width: 230px;
    margin-left: 100px;
    margin-top: 130px;
}
.img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(226, 228,232);
    display: grid;
    place-items: center;
}
.img i{
    font-size: 25px;
    color:   rgb(39, 108, 198);
}
.link p{
    font-size: 15px;

}
.connect_div a{
    text-decoration: none;
    color: black;
}
.feedback{
    margin-left: 440px;
}
textarea{
    height: 100px;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.feedback button{
    height: 35px;
    width: 54%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
button:hover {
    background: #218838;
}
